body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 0;
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
    background-color: #1f2937;
}

.header-logo {
    font-size: 24px;
    font-weight: bold;
    flex-shrink: 0;
    color: #f9faf8;
}

.header-links {
    display: flex;
    align-items: center;
    gap: 16px;
    color: #f9faf8;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 8px;
    margin: 0;
    padding: 0;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 200px;
    background-color: #1f2937;
}

.hero-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 50%;
    color: #f9faf8;
}

.hero-title {
    font-size: 48px;
    font-weight: bold;
    color: #f9faf8;
}

.hero-image {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 50%;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 200px;
}

.content-title {
    font-size: 36px;
    font-weight: bold;
    color: #1f2937;
}

.content-images {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.image {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;
}

.quote {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #e5e7eb;
    padding: 100px 200px;
}

.quote-text {
    font-size: 36px;
    font-weight: lighter;
    color: #1f2937;
}

.quote-author {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 24px;
    font-weight: bold;
}

.signup-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.signup {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3882f6;
    border-radius: 10px;
    padding: 20px;
}

.signup-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    color: white;
}

.signup-button {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 50%;
    background-color: #3882f6;
    border-radius: 10px;
    padding: 20px;
}

button {
    background-color: #3882f6;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    border: 1px solid white;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #1f2937;
    color: white;
}